@font-face {
  font-family: "iconfont"; /* Project id 4155348 */
  src: url('iconfont.woff2?t=1689496554773') format('woff2'),
       url('iconfont.woff?t=1689496554773') format('woff'),
       url('iconfont.ttf?t=1689496554773') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye1:before {
  content: "\e6cb";
}

.icon-xiangce:before {
  content: "\e634";
}

.icon-shezhitianchong:before {
  content: "\e68d";
}

.icon-pinglun:before {
  content: "\e7bf";
}

.icon-wenzhang:before {
  content: "\e67d";
}

.icon-gonggao:before {
  content: "\e8c4";
}

.icon-tongji:before {
  content: "\e608";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-guanyuwomen:before {
  content: "\e628";
}

.icon-shouye:before {
  content: "\e605";
}

.icon-fenlei-:before {
  content: "\e609";
}

.icon-houtai:before {
  content: "\1010d";
}

.icon-liuyan:before {
  content: "\e91e";
}

.icon-qialuli:before {
  content: "\e7b4";
}

.icon-shu:before {
  content: "\e633";
}

.icon-yiliaohangyedeICON-:before {
  content: "\e636";
}

.icon-guanliyuan:before {
  content: "\e600";
}

.icon-17:before {
  content: "\e616";
}

.icon-tableware:before {
  content: "\e8c6";
}

.icon-shangpin:before {
  content: "\e9fc";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-mima:before {
  content: "\e660";
}

